.hiden {
	
	margin: 1% auto;
	width: 90%;
}
.hiden table td {color:white; text-align: left; border:none;}
.hiden table{margin: 2% auto; width: 84%;}
.form-group {margin: 0 auto; width: 85%; background: url("dark-blackboard.png");
}
.comment_list > li{color:#fff;} 
.row {
	border-radius: 3px;
	background: white;
	padding: 2px;
	border: 1px solid black;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.col-sm-4 {
	padding: 5px;
}

.left {
	text-align: left;
}

.form-control {
	
	border: 1px solid white;
}

body {
	height:100%;
	background: url("dark-blackboard.png");
	width: 85%;
	margin: 0 auto;
}

html {
	height:100%;
	background-color: white;
}

td {
	text-align: right;
	border-bottom: 1px solid #ddd;
}

table {
	border-collapse: collapse;
	width: 100%;
}