
.hiden
{
display:none;

}

.form-group
{
background: url("dark-blackboard.png");
}

.row
 {
    border-radius: 3px;
	background: white;
	padding: 2px;
	border: 1px solid black;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.col-sm-4 {
	padding: 5px;
}
.left
{
text-align: left;
}
.form-control
{
	border:1px solid white;
}
body {
background: url("dark-blackboard.png");	width: 85%;
	margin: 0 auto;
}
html {
background: url("dark-blackboard.png");
}
td {
    text-align: right;
    border-bottom: 1px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 100%;
}
